.pins{
  padding-top:0.1rem;
  display: flex;
  margin:0 auto;
  width: 12rem;
}

.pins-sidebar-left{
  position: fixed;
  width: 1.8rem;
  background-color: white;
  padding: 0.1rem;
  font-size: 0.15rem;
  box-sizing: border-box;
  border-radius: 0.02rem;
}
.pins-sidebar-left-item{
  height:0.3rem;
  line-height: 0.3rem;
  border-radius: 0.04rem;
  box-sizing: border-box;
  padding-left:0.05rem;
}
.pins-sidebar-left-item:hover{
  background-color: rgb(247,248,250);
  cursor: pointer;
}
.pins-sidebar-left-item:not(:last-child){
  margin-bottom: 0.05rem;
}
.pins-sidebar-left-item-active{
  background-color: rgb(234,242,255) !important;
  color:rgb(30,128,255) !important;
}
.pins-main{
  margin-left:2rem;
  width: 7rem;
  margin-right: 0.2rem;
  border-radius: 0.02rem;
  box-sizing: border-box;
}
.pins-main-top{
  background-color: white;
  padding-bottom: 0.15rem;
  border-radius: 0.04rem;
}
.pins-sidebar-right{
  width: 2.6rem;
}

.pins-myInfo{
  background-color: white;
  margin-bottom: 0.1rem;
  border-radius: 0.02rem;
  box-sizing: border-box;
  padding:0.1rem;
}
.pins-recommend{
  background-color: white;
  margin-bottom: 0.1rem;
  border-radius: 0.02rem;
}
.pins-hotTopic{
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.02rem;
}

.dynamic-item{
  background-color: white;
  padding: 0.1rem 0.1rem 0 0.1rem;
  box-shadow: 0rem 0.01rem 0.02rem rgba(0,0,0,4%);
  margin-bottom: 0.1rem;
}
.pins-dynamic{
  margin-top:0.1rem;
}

.pins-myInfo-intro{
  display: flex;
  align-items: center;
}

.pins-myInfo-intro img{
  border-radius: 0.5rem;
  margin-right: 0.1rem;
}

.pins-myInfo-intro-baseInfo{
  display: flex;
  justify-content: space-between;
}

.pins-myInfo-intro-item{
  font-size: 0.14rem;
}

.pins-recommend-item{
  font-size: 0.14rem;
  color:#515767;
  padding: 0.05rem;
}

.pins-recommend-item:hover{
  background-color: rgb(247,248,250);
  cursor: pointer;
  color:rgb(0,127,255)
}

.pins-recommend-item-header{
  display: flex;

}

.pins-recommend-header-content{
  flex:0 0 66%;
}
.pins-recommend-header-title{
  font-size: 0.14rem;
  -webkit-line-clamp:2;
  line-height: 0.24rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow:ellipsis ;
}
.pins-recommend-header-img img{
  width: 0.6rem;
}

.pins-hotTopic-item{
  display: flex;
  font-size: 0.14rem;
  color:#515767;
  line-height: 0.24rem;
  justify-content: space-between;
}
.pins-hotTopic-item:hover{
  color:rgb(0,127,255);
  cursor:pointer;
}