.dynamicBox-comment-avatar{
  width: 40px;
  border-radius: 40px;
}

.dynamicBox-comment-header{
  display: flex;
  align-items: flex-start;
}


.dynamicBox-comment-content{
  color:#4e5969;
  font-size: 14px;
  margin-top:14px;
}

.dynamicBox-comment-tools{
  margin-top:10px;
  display: flex;
  font-size: 12px;
  color:#86909c
}

.dynamicBox-comment-tools-btn:hover{
  cursor: pointer;
  color:rgb(20,128,255);
}
