.dynamicBox-header-avatar{
  width: 0.55rem;
  border-radius: 0.4rem;
  margin-right: 0.1rem;
}

.dynamicBox-header{
  display: flex;
  align-items: center;
  margin-bottom: 0.06rem;
}

.dynamicBox-header-authorInfo{
  font-size: 0.14rem;
  color:#909090;
}
.dynamicBox-header-author{
  height: 0.4rem;
  font-size: 0.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dynamicBox-content{
  margin-left: 0.65rem;
  font-size: 0.15rem;
}

.dynamicBox-footer{
  margin-top:0.25rem;
  display: flex;
  border-top:0.01rem solid rgb(228,230,235);
  height: 0.3rem;
  line-height: 0.3rem;
  color:#86909c;
}
.dynamicBox-footer-item{
  text-align:center;
  flex:1;
  font-size: 0.12rem;
  color:#86909c;
  line-height:0.35rem;
}

.dynamicBox-footer-item:hover{
  cursor: pointer;
  color: #96a7bd;
}

.dynamicBox-content-item{
  padding: 0.1rem;
}
.dynamicBox-comment-all{
  margin-top:0.1rem;
}
.dynamicBox-comment-all-text{
  margin-left: 0.14rem;
  font-size: 0.16rem;
}