.pm-tot{
  width: 942px;
  background-color: white;
}
.pm-nav{
  width: 100%;
  height: 0.46rem;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 0.05rem;
  border-bottom: 0.02rem solid rgb(244,244,245);
}
.pm-nav-tab{
  display: flex;
}

.pm-nav-tabItem{
  box-sizing: border-box;
  color: rgb(142,144,156);
  margin-right: 0.1rem;
  user-select: none;
  line-height: 0.46rem;
}
.pm-nav-tabItem:hover{
  cursor: pointer;
  color:#1c78f0;
}
.pm-nav-active{
  color: #1c78f0;
  border-bottom: #1c78f0 solid 0.01rem;
}