.pins-main-btnGroup{
  display: flex;
  font-size: 0.15rem;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top:0.1rem;
  align-items: center;
}
.pins-main-btnGroup-left{
  display: flex;
  justify-content: space-around;
  width: fit-content;
}

.pins-main-btnGroup-left div:not(:first-child){
  margin-left:0.05rem;
}
.pins-main-btnGroup-item:hover{
  color:rgb(30,128,255);
  cursor: pointer;
}
.pins-main-input{
  text-align: center;
  height: fit-content;
}
.pins-main-input textarea{
  width: 95%;
  resize:none;
  overflow: hidden;
  margin-top:0.1rem;
  border:0.01rem solid transparent;
  outline: none;
  background-color:rgb(242,243,245);
  padding: 0.06rem;
  border-radius: 0.02rem;
  font-size: 0.16rem;
  box-sizing: border-box;
}
.pins-main-input textarea:focus{
  border:0.01rem solid rgb(30,128,255);
  background-color: white;
}

