.menu-base{
  background-color:white;
  display: flex;
  width: 2rem;
  padding:0.1rem;
  font-size: 0.22rem;
}
.menu-direction-vertical{
  flex-direction: column;
}
.menu-list-wrapper{
  color:rgb(78,89,105);
  overflow: hidden;
}
.menu-list-end{
  color:rgb(78,89,105);
  padding-top:0.1rem;
  padding-bottom:0.1rem;
  border-radius: 0.04rem;
  padding-left: 0.16rem;
}
.menu-list-childItem{
  display: none;
  padding-left: 0.48rem;
  padding-top:0.1rem;
  padding-bottom:0.1rem;

  color:rgb(134,144,156)
}

.menu-list-wrapper-title{
  padding-bottom: 0.1rem;
  padding-top:0.1rem;
  padding-left:0.16rem;
}
.menu-list-end:not(.active):hover,.menu-list-wrapper-title:hover,.menu-list-childItem:not(.active):hover{
  cursor: pointer;
  background-color:rgb(250,250,250);
}
.collapse-arrow{
  float: right;
  margin-right: 0.05rem;
}

.collapse-open .collapse-arrow{
  transform: rotate(180deg);
  transition: transform linear 0.1s;
}
.collapse-open .menu-list-childItem{
  display: block;
}
.active{
  color:rgb(0,127,255);
  background-color:rgb(232,243,255);
}
.isActiveParent{
  color:rgb(0,127,255)
}