.home-navbar{
  background-color:white;
  height:40px;
  box-shadow:1px 0 2px rgba(0,0,0,0.25);
  position:fixed;
  margin-top:60px;
  width:100%;
  z-index:100;
}
.home-navbar-item{
  margin-right: 10px;
  font-size:14px;
}
.home-navbar-list{
  margin:auto;
  display:flex;
  align-items:center;
  max-width:960px;
  line-height:40px;
}

.home-content{
  position:relative;
  margin-left:250px;
  padding-top:110px;
}
.home-content-passage{
  position:absolute;
  background-color:white;
}
.home-content-sidebar{
  position:absolute;
  left:730px;
}


.home-content-sidebar-welcome{
  background-color:white;
  width:240px;
  margin-bottom:15px;
}

.home-content-sidebar-ad img{
  width:240px;
}

.home-content-sidebar-download{
  margin-top:10px;
  background-color:white;
  padding:10px;
}

.home-content-sidebar-authorRank{
  background-color:white;
  margin-top:10px;
}