.activity-box-header{
  background-color: white;
  height: 34px;
  padding: 12px 10px 12px 10px;
  line-height: 34px;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}
.activity-box-body{
  padding: 18px;
  box-sizing: border-box;
  background-color: white;
}
.activity-box{
  margin-bottom: 20px;
}
.activity-box-data{
  display: flex;
  flex-wrap: wrap;
}
.activity-box-data-item{
  padding: 10px;
  box-sizing: border-box;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: rgb(247,248,250);
  flex:0 0 32%

}