.activity-box-header{
  background-color: white;
  height: 0.34rem;
  padding: 0.12rem 0.1rem 0.12rem 0.1rem;
  line-height: 0.34rem;
  justify-content: space-between;
  display: flex;
  font-size: 0.18rem;
}
.activity-box-body{
  padding: 0.18rem;
  box-sizing: border-box;
  background-color: white;
}
.activity-box{
  margin-bottom: 0.2rem;
}
.activity-box-data{
  display: flex;
  flex-wrap: wrap;
}
.activity-box-data-item{
  padding: 0.1rem;
  box-sizing: border-box;
  margin-right: 1%;
  margin-bottom: 1%;
  background-color: rgb(247,248,250);
  flex:0 0 32%

}