.creator-container{
  margin-top:0.2rem;
  display: flex;
  justify-content: center;
}

.creator-leftBar{
  width: fit-content;
  padding: 0.1rem;
  background-color: white;
  height: 6rem;
}
.creator-leftBar-info{

}
.creator-leftBar-info-avatar{
  text-align: center;
  vertical-align: middle;
  padding:0.2rem;
}
.creator-rightBar{
  margin-left: 0.26rem;
  width: fit-content;

}